.loopings,
.loopings * {
  box-sizing: border-box;
}

.loopings {
  width: calc(15px * 4);
  height: 15px;
  position: relative;
}

.loopings .rhombus {
  height: 15px;
  width: 15px;
  background-color: #e6405c;
  left: calc(15px * 4);
  position: absolute;
  margin: 0 auto;
  border-radius: 2px;
  transform: translateY(0) rotate(45deg) scale(0);
  animation: loopings-animation 2500ms linear infinite;
}

.loopings .rhombus:nth-child(1) {
  animation-delay: calc(2500ms * 1 / -1.5);
}

.loopings .rhombus:nth-child(2) {
  animation-delay: calc(2500ms * 2 / -1.5);
}

.loopings .rhombus:nth-child(3) {
  animation-delay: calc(2500ms * 3 / -1.5);
}

@keyframes loopings-animation {
  0% {
    transform: translateX(0) rotate(45deg) scale(0);
  }
  50% {
    transform: translateX(-233%) rotate(45deg) scale(1);
  }
  100% {
    transform: translateX(-466%) rotate(45deg) scale(0);
  }
}


/*navbar*/
.nav {
  /* 背景色設定 */
  background-color: #1f1f1fea;
  position: fixed;
  bottom: 0;
  z-index: 99999;
  width: 105%;
  left: -5%;
  justify-content: center;
  opacity: 0.95;
}

.nav ul {
  /* 表示幅を90%に */
  width: 80%;
  /* 先頭のポチをなくす */
  list-style: none;
  /* 余白の自動調整 （上下の余白は0、左右は自動調整）*/
  margin: 0 auto;
  height: 80px;
  display: flex;
  list-style: none;
  /* justify-content: center; */
  justify-content: space-between;
}

.nav_type1 {
  /* アンダーライン削除 */
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  /* font-weight: lighter; */
  /* u r d l */
  padding: 10px 10px 2px 10px;
  display: block;
  font-size: large;
  border-bottom: 3px solid #ffffff;
  opacity: 1.0;
  font: Ubuntu;
}
.nav_type0 {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 160%;
  /* u r d l */
  padding: 5px 10px 0.2px 10px;
  display: block;
  border-bottom: 7px solid #ffffff;
  font: Ubuntu;
  /* border-top: 1px solid rgb(0, 0, 0);
  border-left: 1px solid rgb(0, 0, 0);
  border-right: 1px solid rgb(0, 0, 0);
  opacity: 0.9;
  background-color: #f9f9f9;
  border-radius: 0%; */
}

/* .nav a:hover {
  color: #aaa;
} */